.typography {
    font-size: 14px;
    line-height: 1.5;
    color: #767676;
}

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    font-family: "Montserrat";
    margin-bottom: 1em;
    margin-top: 1.9em;
    font-weight: 700;
    color: #202124;
    line-height: 1.3;
}

.typography h1 {
    font-size: 45px;
}

.typography h2 {
    font-size: 32px;
}

.typography h3 {
    font-size: 28px;
}

.typography h4 {
    font-size: 24px;
}

.typography h5 {
    font-size: 20px;
}

.typography h6 {
    font-size: 16px;
}

.typography hr {
    background: #ACACAC;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
}

.typography b, .typography strong {
    font-weight: 700;
}

.typography em, .typography i {
    font-style: italic;
}

.typography p {
    margin-bottom: 1.5em;
    text-align: justify;
    page-break-inside: avoid;
}

.typography .mark, .typography mark {
    padding: 0.2em;
    background-color: #E82049;
    color: #FFFFFF;
}

.typography a {
    color: #202124;
    text-decoration: underline;
}

.typography a:hover, .typography a:focus {
    color: #E82049;
    text-decoration: none;
}

.typography ul {
    padding-left: 0;
    margin-top: 13px;
    margin-bottom: 13px;
    page-break-inside: avoid;
    list-style-type: none;
    -webkit-print-color-adjust: exact;
}

.typography li {
    position: relative;
    margin-bottom: 9px;
    padding-left: 27px;
    color: inherit;
}

.typography li:last-child {
    margin-bottom: 0;
}

.typography ul li:before {
    content: "";
    position: absolute;
    left: 7px;
    top: 0.35em;
    width: 10px;
    height: 10px;
    background: #E82049;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.typography ol {
    padding-left: 0;
    margin-left: 22px;
    page-break-inside: avoid;
    -webkit-print-color-adjust: exact;
}

.typography ol li {
    padding-left: 5px;
}

.typography ol li::marker {
    font-weight: 700;
    font-size: 1.2em;
    color: #E82049;
}

.typography blockquote {
    width: 50%;
    margin: 50px 0;
    padding: 1.42em 0 1.42em 40px;
    border-left: 2px solid #E82049;
    line-height: 1.5;
    position: relative;
    background: transparent;
    page-break-inside: avoid;
}

.typography img,
.typography figure {
    display: inline-block;
    max-width: 100%;
    height: auto;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    page-break-inside: avoid;
}

.typography figure figcaption {
    padding: 16px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: #202124;
    margin-bottom: 20px;
}

.typography table {
    border-collapse: collapse;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.typography th, .typography td {
    padding: 10px 15px;
    border: 1px solid #D6D6D6;
}

.typography th {
    font-weight: 600;
    color: #202124;
}

@media (max-width: 800px) {
    .typography blockquote {
        width: 100%;
        margin: 30px 0;
    }
}

blockquote.blockquote {

}